mixin post(item)
  .post
    time=['January','February','March','April','May','June','July','August','September','October','November','December'][item.date.getMonth()] + ' ' + item.date.getDate() + ', ' + item.date.getFullYear()
    a(href=url4(item.url))=item.title
    .tags
      each tag in Array.from(item.tags)
        span=tag.name
    .cate
      each cate in Array.from(item.categories)
        span=cate[1].path.join('/')

doctype html
html()
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=(page.layout === 'index' ? '' : page.title + ' - ') + theme.site.name
    link(rel="stylesheet", href="/style/main.css")
    script(src="/main.js")
  body
    include ./nav.pug
    main
      block content
    include ./footer.pug
